html,
body {
    height: 100%;
    background-color: #434152;
    padding: 25px 0;
}

.selected {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: #0b486b;
}

.unmatched {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-image: radial-gradient(#0b486b, #000);
}

.matched {
    border: 0;
    color: white;
    background-color: #fff0;
}

.card.clickable {
    cursor: pointer;
}

hr {
    border-top: 2px dashed white;
}

.finished {
    background-color: #f5cb5c;
    margin: 13% 0;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}